@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
    height: 482px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__botao {
    background-color: #22D4FD;
    text-align: center;
    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;
    font-size: 24px;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: black;
}

.conteudo__foto{
    border-radius: 32px;
}